@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* fade-out animation */
.fade-out {
  animation: fadeOut 1s ease-out;
}

/* Define the twinkling animation */

@keyframes gradual-fade {
  0% {
    opacity: 0%;
    //transform: rotate(0deg);
    transform: translate3d(0, 0, 0);
  }
  5% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  50% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  75% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  100% {
    opacity: 0%;
    //transform: rotate(360deg);
    transform: translate3d(-540px, 0, 0); /* The image width */
  }
}