@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* fade-out animation */
.fade-out {
  animation: fadeOut 1s ease-out;
}

/* Define the twinkling animation */

@keyframes gradual-fade {
  0% {
    opacity: 0%;
    //transform: rotate(0deg);
    transform: translate3d(0, 0, 0);
  }
  5% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  50% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  75% {
    opacity: 100%;
    //transform: rotate(180deg);
    //transform: translate3d(-500, 0, 0);

  }
  100% {
    opacity: 0%;
    //transform: rotate(360deg);
    transform: translate3d(-540px, 0, 0); /* The image width */
  }
}

.tooltip-pulsate {
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.025);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.rainbow {
  animation: rainbow 5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}
