@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme Colors */
  --light-bg-color: #ffffff;
  --light-text-color: #000000;

  /* Dark Theme Colors */
  --dark-bg-color: #000000;
  --dark-text-color: #ffffff;

  /* Sunset Theme Colors */
  --nebula-bg-color: #ff6f00;
  --nebula-text-color: #ffffff;
}
.game-hover {
  cursor: pointer;
}
.game-hover#maplestory:hover {
  font-weight: bold;
  color: orange;
  text-shadow: 0px 1px 4px red;
}
.game-hover#overwatch:hover {
  font-weight: bold;
  background-color: black;
  background-image: linear-gradient(45deg, orange, red);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.game-hover#valorant:hover {
  font-weight: bold;
  color: red;
  text-shadow: 0px 1px 2px red;
}

.game-hover#maplestory:hover::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('https://i.giphy.com/media/gL2xOHy1lpfKvwcUOF/giphy.webp');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  top: -50px;
  left: 455px;
}

.game-hover#overwatch:hover::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('https://lens-storage.storage.googleapis.com/png/c17239db-c76f-4dd8-a033-d38ec03f6367');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  top: -50px;
  left: 550px;
}

.game-hover#valorant:hover::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/636/388/non_2x/valorant-logo-valorant-icon-transparent-free-png.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  top: -30px;
  left: 635px; /* Adjust the positioning as needed */
}

/* Light, Dark, Sunset Theme Styles */
.light, .dark, .nebula {
  transition: 0.75s ease-in-out;
}
.light .themes-button {
background-color: transparent;
color: black;
}
/* Light, Dark, Sunset Theme for Portfolio Card Container */
.light.portfolio-container,
.light.projects-container {
  background-color: transparent;
  transition: 0.75s ease-in-out;
}
.dark.portfolio-container,
.dark.projects-container {
  background-color: rgba(0,0,0,0.95);
  transition: 0.75s ease-in-out;
}
.nebula.portfolio-container,
.nebula.projects-container {
  background-color: rgba(0,0,0,1);
  transition: 0.75s ease-in-out;
}

/* Light, Dark, Sunset Theme for Text on main*/
.light .text-intro, .light .text-intro-container  {
  color: var(--light-text-color);
  transition: 0.75s ease-in-out;
}
.dark .text-intro, .dark .text-intro-container {
  color: rgba(255,255,255,0.85);
  transition: 0.75s ease-in-out;
}
.nebula .text-intro, .nebula .text-intro-container {
  color: var(--dark-text-color);
  transition: 0.75s ease-in-out;
}
.nebula .text-intro-name {
  color: rgba(175,155,255,1);
  transition: 0.75s ease-in-out;
}

/*Social Media buttons*/
.instagram-button:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.linkedin-button:hover {
  background: linear-gradient(rgba(122,122,191,0.85), rgba(0,119,181,0.75));
}

/* Light, Dark, Sunset Theme for Portfolio Card Container */
.light .portfolio-card-container {
  background-image: linear-gradient(to bottom, rgba(185,197,255,0.85), rgba(255,122,234,0.25), rgba(252,155,154,0.25));
  color: var(--light-text-color);
  transition: 0.75s ease-in-out;
}
.light .portfolio-buttons-container,
.dark .portfolio-buttons-container,
.nebula .portfolio-buttons-container {
  //background-image: linear-gradient(to top, rgba(75,197,255,0.15), rgba(255,122,234,0.15), rgba(252,155,154,0.25));
  color: var(--dark-text-color);
  transition: 0.75s ease-in-out;
  margin-top: 340px;
  margin-left: 255px;
  position: fixed;
}
.dark .portfolio-card-container {
  background-image: linear-gradient(to bottom, rgba(75,197,255,0.15), rgba(255,122,234,0.15), rgba(252,155,154,0.25));
  color: var(--dark-text-color);
}

.nebula .portfolio-card-container {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(105,0,255,0.25), rgba(195,0,255,0.2), rgba(125,125,255,0.35), transparent);
  transition: 0.75s ease-in-out;
  
}

/* Pseudo-element stylings of the gradient-bg page on the main site */
.light.gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 0;
  background: linear-gradient(
    160deg,
    rgba(192, 132, 252, 0.25) 25%,
    rgba(14, 165, 233, 0.25) 15%,
    rgba(200, 145, 255, 0.15) 35%,
    rgba(79, 70, 229, 0.10) 15%,
    rgba(192, 132, 252, 0.15) 5%
  );
  filter: blur(150px);
}
.dark.gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 0;
  background: linear-gradient(
    160deg,
    rgba(192, 132, 252, 0.1) 10%,
    rgba(85, 165, 233, 0.15) 25%,
    rgba(200, 145, 255, 0.15) 35%,
    rgba(79, 70, 229, 0.20) 25%,
    rgba(192, 132, 252, 0.10) 5%
  );
  filter: blur(150px);
}/*
.nebula.gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 0;
  background: linear-gradient(
    160deg,
    rgba(148, 187, 233, 0.35) ,
    rgba(85, 137, 208, 0.35) ,
    rgba(192, 144, 229, 0.35) ,
    rgba(134, 172, 218, 0.40) ,
    rgba(148, 187, 233, 0.25) 
  );
  filter: blur(250px);
  transform: scale(1);
}*/
/* Create the nebula background */
.nebula.space-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 0.75s ease-in-out;
}
/* Create the stars */
.nebula.space-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(
    rgba(128, 187, 153, 0.35),
    rgba(255, 187, 253, 0.35),
    rgba(85, 137, 208, 0.45),
    rgba(124, 172, 188, 0.15)
  );
  opacity: 0.85;  
  filter: blur(150px);
  transition: 0.75s ease-in-out;
}
/* Add star loop GIF background */
.nebula.space-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url("../../portfolio-react-app/public/media/StarsLoop.gif");
  background-size: 25%;
  animation: gradual-fade 30s linear infinite;
  //scale: 1;
  z-index: -1;
  transition: 0.75s ease-in-out;
}

.shadow-inner { 
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 1); 
}

/* Light, Dark, Sunset Theme for Portfolio Card Container */
.light.avatar-icon {
  background-color: transparent;
  transition: 0.75s ease-in-out;
}
.dark.avatar-icon {
  background-color: rgba(155,65,255,0.45);
  transition: 0.75s ease-in-out;
}
.nebula.avatar-icon {
  background-color: rgba(175,75,255,0.75);
  transition: 0.75s ease-in-out;
}

.gradient-border {
  //width: 125px; /* Adjust the width as needed */
  //height: 125px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 5px rgba(155,85,255,0.35) outset;
  //background-image: linear-gradient(to bottom, darkblue, darkorchid);
}

.gradient-border::before {
  //content: '';
  position: relative;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 3px solid transparent;
  //background-image: linear-gradient(to right, darkblue, darkorchid);
  //border-radius: inherit;
}

/* Darker background when Contact Modal opens */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Adjust the opacity value as needed */
  z-index: -1; /* Place the overlay behind the modal content */
}

/* Themes for Popup Contact Close button */
.light .close-contact-button {
  filter: invert(0);
}
.dark .close-contact-button, 
.nebula .close-contact-button {
  filter: invert(1);
}

/* Light, Dark, Sunset Theme for Contact Popup Intro Text */
.light .contact-heading {
color: rgba(0,185,255);
}
.light .contact-intro {
color: black;
}
.dark .contact-heading {
color: rgba(0,255,255);
}
.dark .contact-intro {
color: white;
}
.nebula .contact-heading {
color: rgba(255,55,235);
}
.nebula .contact-intro {
color: white;
}

.light .contact-form-box,
.dark .contact-form-box,
.nebula .contact-form-box {
height: 50%;
  overflow: hidden;
}
/* Contact Modal */
.light .modal-content {
  position: relative;
  max-width: 90vw;
  width: 800px;
  height: 90%;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.dark .modal-content {
  position: relative;
  max-width: 90vw;
  width: 800px;
  height: 90%;
  margin: 0 auto;
  margin-top: 25px;
  background-color: rgba(35, 35, 35, 1);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(235, 155, 235, 0.25);
  text-align: center;
}
.nebula .modal-content {
  position: relative;
  max-width: 90vw;
  width: 800px;
  height: 90%;
  margin: 0 auto;
  margin-top: 25px;
  background: black;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(235, 155, 235, 0.25);
  text-align: center;
}
.nebula .modal-content::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    160deg,
    rgba(148, 187, 233, 0.55),
    rgba(85, 137, 208, 0.55),
    rgba(192, 144, 229, 0.55),
    rgba(134, 172, 218, 0.50),
    rgba(148, 187, 233, 0.55)
  );
  animation: twinkling-stars 15s infinite;
}
.light .contact-modal-gradient,
.dark .contact-modal-gradient {
background: linear-gradient(145deg, rgba(192, 132, 252, 0.5) 15.73%, rgba(14, 165, 233, 0.41) 15.74%, rgba(252,155,154,0.35) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);
transition: 0.75 ease-in-out;
}
.nebula .contact-modal-gradient {
background: linear-gradient(145deg, rgba(192, 132, 252, 0.5) 15.73%, rgba(14, 165, 233, 0.41) 15.74%, rgba(232, 121, 249, 0.26) 56.49%, rgba(79, 70, 229, 0.4) 115.91%);
transition: 0.75 ease-in-out;
}

.light .contact-form-box, {
  background-color: white;
}
.dark .contact-form-box {
  background-color: rgba(35, 35, 35, 1);
}
.nebula .contact-form-box {
  background: black;
}
.light .contact-full-name,
.light .contact-email,
.light .contact-message {
  color: black;
}
.dark .contact-full-name,
.dark .contact-email,
.dark .contact-message {
  color: white;
}
.nebula .contact-full-name,
.nebula .contact-email,
.nebula .contact-message {
  color: rgba(255,55,235);
}
.light .contact-fullname-textarea {
  color: black;
}
.dark .contact-fullname-textarea,
.nebula .contact-fullname-textarea {
  color: white;
}
.light .contact-email-textarea {
  color: black;
}
.dark .contact-email-textarea,
.nebula .contact-email-textarea {
  color: white;
}
.light .contact-message-textarea {
  color: black;
}
.dark .contact-message-textarea,
.nebula .contact-message-textarea {
  color: white;
}
/* Add styles for the overlay */
/*
.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 150px);
  //width: 550px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}*/ 

/* Add these styles to your CSS file */
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  z-index: 100;
  flex-direction: column;
  flex-wrap: wrap;
}
.light .notification {
  background-color: white;
  box-shadow: 0px 0px 15px 3px rgba(125,125,125,0.5);
  color: black;
}
.dark .notification,
.nebula .notification {
  background-color: black;
  box-shadow: 0px 0px 15px 3px rgba(255,125,255,0.5);
  color: white;
}

.timer-bar-container {
  display: flex;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 8px;
}

.timer-bar {
  display: flex;
  height: 100%;
  transition: width 100ms linear;
}
.light .timer-bar {
  background-color: rgba(85, 255, 255, 1);
}
.dark .timer-bar {
  background-color: rgba(255, 135, 125, 1);
}
.nebula .timer-bar {
  background-color: rgba(255,125,255,1);
}

/* Dark overlay behind the Projects Modal */
.projects-overlay {
  position: fixed;
  inset: 0;
  //background-color: rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to top, rgba(185,185,255,0.70), rgba(0,0,0,0.80));
  z-index: 0;
}

/* Themes for Popup Projects Close button */
.light .close-projects-button,
.dark .close-projects-button, 
.nebula .close-projects-button {
  filter: invert(1);
}

.light .projects-card-container {
  background-image: linear-gradient(to bottom, rgba(155,197,255,1), rgba(225,122,234,1), rgba(215,155,154,1));
  color: var(--light-text-color);
  transition: 0.75s ease-in-out;
}
.dark .projects-card-container {
  background-image: linear-gradient(to bottom, rgba(15,95,255,1), rgba(200,122,234,1), rgba(195,155,154,1));
  color: var(--dark-text-color);
  transition: 0.75s ease-in-out;
}
.nebula .projects-card-container {
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(105,0,255,1), rgba(195,0,255,1), rgba(125,125,255,1));
  transition: 0.75s ease-in-out;
}

/* Contact Modal */
.light .projects-container {
  position: fixed;
  top: 100%; /* Adjust as needed */
  left: 100%; /* Adjust as needed */
  //max-width: 90vw;
  width: 100%;
  height: 100%;
  //margin: 0 auto;
  //margin-top: 25px;
  //background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75);
  text-align: center;
  transform: translate(-100%, -100%);
  z-index: 50;
}
/* Contact Modal */
.dark .projects-container {
  position: fixed;
  top: 100%; /* Adjust as needed */
  left: 100%; /* Adjust as needed */
  //max-width: 90vw;
  width: 100%;
  height: 100%;
  //margin: 0 auto;
  //margin-top: 25px;
  //background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75);
  text-align: center;
  transform: translate(-100%, -100%);
  z-index: 50;
}
/* Contact Modal */
.nebula .projects-container {
  position: fixed;
  top: 100%; /* Adjust as needed */
  left: 100%; /* Adjust as needed */
  //max-width: 90vw;
  width: 100%;
  height: 100%;
  //margin: 0 auto;
  //margin-top: 25px;
  //background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75);
  text-align: center;
  transform: translate(-100%, -100%);
  z-index: 50;
}

.light .project-card {
  box-shadow: 0px 2px 7px 3px rgba(255,225,200,1); 
}
.dark .project-card {
  box-shadow: 0px 2px 7px 3px rgba(195,225,175,1); 
}
.nebula .project-card {
  box-shadow: 0px 2px 7px 3px rgba(255,195,255,1); 
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Pagination for Projects */
.pagination-button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s;
}
.pagination-button.active {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* Add a media query to control the project row layout */
.projects-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}
/* For screens wider than a certain breakpoint, change the justification to center */
@media (min-width: 768px) {
  .projects-row {
    justify-content: center;
  }
}